<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todo List Manager</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h2>Todo List</h2>
        <ul>
            <% if (todos?.length) { %>
                <% todos.forEach(tod=> { %>
                    <li>
                        <%= tod.DESC1 %>
                    </li>
                    <% }) %>
                        <% } %>
        </ul>

        <form id="form" action="/add" method="POST">
            <div>
                <input name="todoDesc" class="inputtext" type="text" id="text" placeholder="Add new Todo" />
                <input type="submit" value="Add Todo" class="btn">
            </div>
            
            <div>
                <input type = "submit" value="Delete All" class="btn" formaction ="/deleteAll">
            </div>
        </form>

    </div>
</body>

</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Coming from EJS </h1>
    <%= JSON.stringify(todos) %>
    <ul>
      <%  for(let tod of todos){ %>
            <li><%= tod.DESC1 %></li>
      <%  } %>
    </ul>
    <form action = "/add" method="POST">
        <input type="text" name="todoDesc" id="">
        <button type="submit">Add Todo</button>
    </form>
</body>
    
</html> -->