<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todo List Manager</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h2>Todo List</h2>
        <ul>
            <% if (todos?.length) { %>
                <% todos.forEach(tod => { %>
                    <li>
                        <span><%= tod.DESC1 %></span>
                        <form action="/delete" method="POST" class="delete-form">
                            <input type="hidden" name="todoDesc" value="<%= tod.DESC1 %>">
                            <input type="submit" value="Delete" class="btn btn-delete">
                        </form>
                    </li>
                <% }) %>
            <% } %>
        </ul>

        <form id="form" action="/add" method="POST">
            <div>
                <input name="todoDesc" class="inputtext" type="text" id="text" placeholder="Add new Todo" spellcheck="true" />
                <input type="submit" value="Add Todo" class="btn">
            </div>
            <div>
                <input type="submit" value="Delete All" class="btn btn-delete" formaction="/deleteAll">
            </div>
        </form>
    </div>
</body>

</html>

